.App {
  text-align: center;
}

.content {
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 20px;
  min-height: 60vh;
}

.centered {
  text-align: center;
}

.heading {
  padding-top: 20px;
  padding-bottom: 20px;
}

.sell-area {
  padding: 20px;
  /* border-left: 1px solid lightgray;
  border-right: 1px solid lightgray; */
  min-height: 60vh;
}

.MuiGrid-item {
  max-width: 400px;
}

.red {
  color: red;
  font-style: italic;
}

.sell-header {
  margin-bottom: 50px;
  margin-top: 20px;
}

.data-section div {
  clear: both;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ant-layout-footer {
  min-height: 25vh;
}

.hero-logo {
  padding-top: 200px;
  padding-bottom: 100px;
  max-width: 400px;
  margin: 0 auto;
}

.header-logo {
  height: 60px;
}

.header-steps {
  height: 300px;
  padding-top: 100px;
}

.align-left {
  text-align: left;
}

.card-image,
.ant-card {
  width: 300px !important;
}

.ant-card {
  display: inline-grid;
}

.listing-card {
  /* max-width: 300px; */
}

.dropzone {
  border: 3px dotted lightgray;
  padding: 20px;
  height: 200px;
  cursor: pointer;
}

.ant-input {
  max-width: 400px;
  /* margin-top: 5px;
  margin-bottom: 5px; */
}

.home-page input {
  margin-bottom: 20px;
}

.ant-input-group-wrapper {
  margin: 10px;
}

.ant-layout-header {
  background: white !important;
}

.ant-btn,
.ant-btn-circle {
  /* padding: 10px 20px 10px 20px !important; */
  margin: 10px;
}

.nav-logo {
  height: 25px;
}

.ant-layout-header {
  background: white !important;
}

.header-logo {
  height: 60px;
}

.content-area {
  max-width: 1000px;
}
